window {
    border: 4px solid black;
    border-color: #FFFFFF;
    /* background-color: rgba(23, 63, 79, 0.8); */ 
    /* background-color: rgba(12, 11, 25, 0.65); */
    background-color: rgba(0,0,0)
    /* background-color: #0A0E14; */
}

#outer-box {
    margin: 10px;
}

#entry:selected {
    color: rgba(115, 186, 37, 1);
    /* background-color: rgba(53, 185, 171, 0.3); */
    background-color: rgba(217, 216, 216, 0.3);
    /* background-color: #0A0E14; */
}
